extends layout

block content
	h1= title
		p Welcome to #{title}
		#upload-measures
			form
				input(id="zone", name="zone", autocorrect="on", type="text", value="")
				br
				input(type="file", multiple="multiple", name="data", id="data")
				br
				button	Synchronize